@mixin sizeall($w,$h,$x,$y,$px,$py,$backcol) {
  width: $w;
  height: $h;
  margin: $y $x;
  padding: $py $px;
  background-color: $backcol;
}

@mixin displayall($distype,$disjusty,$disdire,$diswarp,$alignItem) {
  display: $distype;
  justify-content: $disjusty;
  flex-direction: $disdire;
  flex-wrap: $diswarp;
  align-items: $alignItem;

}

@mixin fontall($fontsize,$fontw,$directtext) {
  font-size: $fontsize;
  font-weight: $fontw;
  direction: $directtext;
}

.titleBox{
  @include displayall(flex, space-between, row, nowrap, center);
  margin-top: 54px;
  padding: 0 3vw;
}
.text{
  font-size: 35px;

}