.mainbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./../../image/back.jpg"); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    opacity: 0.25; /* Adjust the opacity */
    z-index: -1;
}

.mainbox {
    position: relative;
    width: 100%;
    height: 55vh;
    margin-top: 15vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    z-index: 3;
    flex-direction: row;
    justify-content: space-around;
}

.imageshow {
    width: 6vw;
    height: 9vh;
    border-radius: 50%;
    object-position: top;
    position: absolute;
    object-fit: fill;
}

.fildsetmain {
    width: 20vw;
    height: 10vh;
    text-align: left;
    margin-top: 6vh;
}

.h2style {
    font-size: 2.5vw;
    font-weight: bold;
    margin-top: 4vh;
}

.inputstyle {
    width: 15vw;
    height: 6vh;
    border: none;
    outline: none;
    font-size: 1vw;
    margin-left: 1vw;
    background-color: #e8e8e8;
}

.botbacg:hover {
    transform: scale(1.05);
}
