.mainbox{
    width: 100%;
    height: 55vh;
    margin-top: 15vh;
background-color: #e8e8e8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.imageshow{
    width: 6vw;
    height: 9vh;
    border-radius: 50%;
    object-position: top;
    position: absolute;
    object-fit: fill;
}
.fildsetmain{
    width: 20vw;
    height: 10vh;
    text-align: left;
    margin-top:6vh;
}
.h2style{
    font-size: 2.5vw;
    font-weight: bold;
    margin-top: 4vh;
}
.inputstyle{
    width: 15vw;
    height: 6vh;
    border: none;
    outline: none;
    font-size: 1vw;
    margin-left: 1vw;
    background-color: #e8e8e8;
}